AL_FATHAH/
a.exe
compile.exe
date.txt
imp.obj
log_crd.bin
login_module.exe
login_module.map
login_module.o
login_module.obj
main.map
reading_data.o
stud_db.bin
student_central.o
time.txt
try.cpp
compile.cpp